/* Menu */

.menu-bg {
  background: #5d6c8b;
}

.menu {
  max-width: 960px;
  display: flex;
  margin: 0 auto; /*para alinhar ao centro de acordo com o max-width que foi passado*/
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu a{
  color: white;
  margin: 0 5px 5px 5px;
}

.menu-logo a{
  font-weight: bold;
  font-size: 2.25em;
  margin-right: 15px;
}

.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a{
  font-size: 1.15em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover{/*para mudar a cor do menu ao passar por cima */
  color: #122ab2;
}