/* PREÇO */

.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item {
  flex: 1; /*flex: 1 1 260px; para safari iphone */
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
  min-width: 260px; /*para navegador safari iphone*/
}

.preco-item h2 {
  font-size: 2.5em;
  color: #a4a4a4;
  text-align: center;
  margin-top: -10px;
}

.preco-item span {
  max-width: 300px;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0 8px 0;
  border-top: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid white;
}

.preco-item sup {
  font-size: 1rem;
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1em;
  
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.preco-item li::after {
  content: '';
  display: block;
  background: #2c70ff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.preco-item a {
  max-width: 200px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco .preco-item:nth-child(3) {
    order: -2;
  }
  .preco .preco-item:nth-child(2){
    order: -1;
  }
}